.text {
  color: var(--blue);
  text-align: left;
  text-transform: uppercase;
  white-space: pre-wrap;
}

.small {
  font: 400 14px/17px 'Heuristica';
}

.medium {
  font: 400 16px/19px 'Heuristica';
}

.big {
  font: 400 20px/24px 'Heuristica';
}

@media (max-width: 992px) {
  .small {
    font: 400 12px/14px 'Heuristica';
    text-align: center;
  }

  .medium {
    font: 400 14px/17px 'Heuristica';
    text-align: center;
  }

  .big {
    font: 400 16px/20px 'Heuristica';
  }
}
