@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Heuristica;
  src: url('./assets/fonts/Heuristica-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--light-grey);
}

:root {
  --white: #fff;
  --black: #000;
  --light-grey: #ebf3ff;
  --grey: #8791aa;
  --dark-grey: #495057;
  --blue: #264576;
  --light-blue: #1e82fa;
  --shadow: rgb(100 177 252 / 30%);
  --focus: rgb(0 123 255 / 25%);
  --light-text: rgb(25 25 25 / 50%);
  --max-container-width: 1100px;
  --min-container-width: 320px;
}

/* телефон и планшет */

/* @media (max-width: 959px) {

} */
