@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto.ttf') format('ttf');
}

@font-face {
  font-family: 'Heuristica';
  src: url('/src/assets/fonts/Heuristica-Regular.otf') format('otf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--grey);  
}

:root {
  --white: #fff;
  --black: #000000;
  --grey: #EBF3FF;
}

/* телефон и планшет */
/* @media (max-width: 959px) {

} */